*{
    margin:0;
    padding: 0;
}

body{
    background-color: #ff99c8;
    text-align: center;
}
h1{
    padding-top:8vmin;
    font-size: 8vmin;
    color:#002855;
}
.container{
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:40vmin;
    width:40vmin;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height:12vmin;
    width:12vmin;
    border-radius: 1rem;
    border: none;
    box-shadow:0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color:#002855;
    background-color: #d0f4de;
}

#reset-btn{
    padding: 2vmin;
    font-size: 3vmin;
    background-color: #edf6f9;
    color: #023e7d;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 2vmin;
    font-size: 3vmin;
    background-color: #edf6f9;
    color: #023e7d;
    border-radius: 1rem;
    border: none;
}

#msg{
    color:#002855;
    font-size: 10vmin;
}

.msg-container{
    height:100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:2rem;
}

.hide{
    display:none;
}